.container{
    width: 60%;
    background-color: #dfeef0;
}
h1, h2, p{
    color: rgb(109,143,145);
    font-weight: bold;
}
.image-1{
    border: none;
    border-radius: 50%;
}
.hr-1{
    margin-top: 15px;
    border :3px dashed rgb(109,143,145) ;
    width: 80%;
}
ul li{
    font-weight: bold
}
.bottom{
    margin-bottom: 15px;
}